@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    margin: 0;
 }

body{
    font-family: "Work Sans", serif;

}

/* -------------Share Style-------------- */

.btn-style{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 32px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}




/* ---------Header/banner section Style----------- */

.banner{
    max-width: 1920px;
    height: 819px;
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%), url("assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner-container{
    width: 1023px;
    text-align: center;
}

.banner-subtitle{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    opacity: 0.8;
}

.banner-heading{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    padding: 0px 0;
}

.banner-description{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.7;
    padding: 30px 0;
}

/* ---------Card Box section Style----------- */

.card-box{
    max-width: 1330px;
    padding: 180px 0;
    margin: 0 auto;
}

.favorite-brands{
    text-align: center;
}

.favorite-brands>h4{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    padding-bottom: 16px;
}

.favorite-brands h2{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 48px;
}

 .brands{
    display: flex;
    gap: 24px;
}

.brand-subheading{
    display: inline-block;
    color: rgb(16, 16, 16);
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 10px 32px;
    margin: 32px 0;

}

.brands h3{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    padding: 24px 0;
}

.brand p{
    color: rgb(16,16,16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 64px;
}

/* ---------Card section Style----------- */


.card{
    max-width: 424px;
    padding: 180px 0;
    margin: 0 auto;
}


/* ---------About Style----------- */

.about{
    display: flex;
    justify-content: space-between;
    max-width: 1330px;
    align-items: center;
    margin: 0 auto;
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 100%;
}

.about-text{
    text-align: center;
    width: 50%;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.about-description{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 48px;
}

.about-subtitle{
    font-size: 2rem;
    font-weight: 600;
    color: #101010;
    margin: 30px auto;
}

.about-icons{
    margin-top: 48px;
}

.about-icons img{
    margin-right: 20px;
}